  .root {
    max-width: 700px;
    color: #000;
    margin: 2rem auto;
    
  }
  .title {
    color: #000;
    max-width: 1000;
    font-size: 40px;
  }
  .footer {
    margin: 4rem auto;
    text-align: center;
    color: #222;
  }
  .footerLink {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }