

input[type="search"],
input[type="text"],
textarea {
box-sizing: inherit;
appearance: none;
}

[hidden] {
display: none !important;
}

body,
button,
input,
textarea {
font-family: 'Helvetica Neue', Helvetica, sans-serif;;
}

a,a:visited {
text-decoration: none;
}